.header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header__topbar-container {
  background-color: var(--primary-color);
}

.header__hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 58px;
}

.header__logo-link {
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header__title {
  font-size: 1.5rem;
  margin: 0;
}

.header__breadcrumbs-container {
  background-color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.header__breadcrumb {
  transition: all 0.2s ease-in-out;
}

.header__breadcrumb:hover {
  color: var(--primary-color);
}
