body {
  margin: 0;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
u {
  text-decoration: none;
  color: initial;
}

/* Generic classes  */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

@media (min-width: 768px) {
  .container {
    padding: 0 4rem;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0 6rem;
  }
}
